<link rel="stylesheet" href="/css/editReviewStyle.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap" rel="stylesheet">

<header class="header">
            <div class="logo">
                <a href="/"><p class="logo">Ni pa' la muela {API}</p></a>            </div>
            <nav>
                <u1 class = "nav-links">
                    <li><a href="/restaurants">Agregar restaurante</a></li> 
                    <li><a href="/reviews">Editar reviews</a></li>   
                </u1>
            </nav>
       
</header>
<h1 class="titleFormEditReview">Edita una reseña</h1>

<a href="/" class="addReviewA">Agrega una reseña</a>
<a href="/reviews/view" class="viewTableOfReviews">Tabla de reseñas</a>

<div class="formIndexEditReview">
    <form action="/edit/{{review._id}}" method="post">
    <div class="tsd">
        <label for="titleSaucer">Titulo del platillo:</label>
        <input type="text" name="titleSaucer" placeholder="Nombre del platillo" id="titleSaucer" value={{review.titleSaucer}}>
    </div>
    <div class="dsd">
        <label for="descriptionSaucer">Descripcion del platillo:</label>
        <textarea name="descriptionSaucer" id="" cols="30" rows="10" id="descriptionSaucer">{{review.descriptionSaucer}}</textarea>
    </div>
    <div class="rsd">
            <label for="restaurant">Restaurante</label>
            <select name="restaurant" id="restaurant" value={{review.restaurant}}>
                <option value="zoo">zoo</option>
                <option value="toromambo">Toro Mambo</option>
                <option value="elterral">El terral</option>
                <option value="elvaquero">El vaquero</option>
            </select>
    </div>
    <div class="psd"> 
        <label for="photoOfSaucer">Foto del platillo</label>
        <input type="text" name="photoOfSaucer" placeholder="foto del platillo" id="photoOfSaucer" value={{review.photoOfSaucer}}>
    </div>

    <div class="prsd">
        <label for="priceOfSaucer">Precio del platillo:</label>
        <input type="number" name="priceOfSaucer" id="priceOfSaucer" value={{review.priceOfSaucer}}>
    </div>
    <div class="csd">
        <label for="calificationSaucer">Calificacion del platillo:</label>
        <select name="calificationSaucer" id="calificationSaucer" value={{review.calificationSaucer}}>
            <option value="1">1 estrella</option>
            <option value="2">2 estrellas</option>
            <option value="3">3 estrellas</option>
            <option value="4">4 estrellas</option>
            <option value="5">5 estrellas</option>
        </select>
    </div>
    <button>Actualizar</button>
</form>
</div>

