<link rel="stylesheet" href="/css/indexFormAdd.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap" rel="stylesheet">

<header class="header">

            <div class="logo">
                <a href="/"><img src="../public/img/logo.png" alt ="Logo del blog"/></a>
            </div>
            <nav>
                <u1 class = "nav-links">
                    <li><a href="/restaurants">Agregar restaurante</a></li> 
                    <li><a href="/reviews">Editar reviews</a></li>   
                </u1>
            </nav>
       
</header>
<h1 class="titleFormAddReview">Ni pa la muela Api</h1>
<p>Agrega un nuevo contacto!</p>

<div class="formIndexAddReview">  
    <form action="/contacts/edit/{{contact._id}}" method="post">
    <div class="tsd">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Nombre del contacto" id="name" value={{contact.name}}>
    </div>
    <div class="psd">
        <label for="github">Github:</label>
        <input type="text" name="github" placeholder="Github Del Contacto" id="github" value={{contact.github}}>
    </div>
    <div class="psd">
        <label for="linkedin">Linkedin:</label>
        <input type="text" name="linkedin" placeholder="Linkedin del contacto" id="linkedin" value={{contact.linkedin}}>
    </div>
    <div class="tsd">
        <label for="ig">Instagram:</label>
        <input type="text" name="ig" placeholder="Instagram dEL CONTACTO" id="ig" value={{contact.ig}}>
    </div>
    <button>Guardar contatcto</button>
    <a href="/contacts/views">Ver lista de contactos</a>
    <a href="/">Regresar a la pagina principal</a>
</form>
</div>