<link rel="stylesheet" href="/css/tableViewsReviews.css">

<h1>Tabla de Restaurantes</h1>

<a href="/restaurants" class="aBackToAdd">Agrega un restaurante</a>

<div class="tableOfReviewsDiv">
    <table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Nombre del restaurante</th>
            <th>Descripcion del restaurante</th>
            <th>descripcion corta</th>
            <th>Foto</th>
            <th>Calificacion</th>
            <th>link</th>
            <th>Link Mapa</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        {{#each restaurant}}
            <tr>
                <td>{{@index}}</td>
                <td>{{nameRestaurant}}</td>
                <td>{{descriptionRestaurant}}</td>
                <td>{{shortDescriptionRestaurant}}</td>
                <td><img class="imgTable" src={{photoOfRestaurant}} alt=""></td>
                <td>{{calificationOfRestaurant}}</td>
                <td>{{linkResenas}} estrellas</td>
                <td>{{ubicationRestaurant}}</td>
                <td>
                    <a href="/restaurants/edit/{{_id}}" class="editButton">Editar</a>
                    <a href="/restaurants/delete/{{_id}}" class="deleteButton">Eliminar</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

</div>
